* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;

}

.leftmob {
    height: 100vh;
    width: 50vw;
    background-color: white;
}

#instaback {
    position: absolute;
    top: 8vh;
    left: 20vw;
    height: 90vh;
}

#ss {
    position: absolute;
    top:11.2vh;
    left: 30.1vw;
    height: 77vh;
}

#sss {
    position: absolute;
    top:11.2vh;
    transition-duration: 2s;
    left: 30.1vw;
    height: 77vh;
}


.login {
    height: 100vh;
    width: 50vw;
    background-color: white;
}

.box {
    position: absolute;
    top: 14vh;
    height: 48vh;
    width: 22vw;
    border: 1px solid gainsboro;
}

#instalogo {
    position: absolute;
    top: 2vh;
    left: 5vw;
    height: 15vh;
}

#imgprof {
    position: absolute;
    top: 17vh;
    left: 8vw;
    height: 12vh;
    border-radius: 100px;
}

.button {
    position: absolute;
    top: 33vh;
    left: 3vw;
    border-radius: 10px;
    background-color: RGB(0, 140, 186); /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    cursor:pointer;
  }

  #remove {
    position: absolute;
    top: 41vh;
    left: 7vw;
    font-family: sans-serif;
    font-size: 14px;
    color: RGB(0, 140, 186);
    font-weight: bold;
  }

  .secbox {
    position: absolute;
    top: 65vh;
    height: 10vh;
    width: 22vw;
    border: 1px solid gainsboro;
  }

  #switch{
    position: absolute;
    top: 3.5vh;
    left: 5vw;
    color: RGB(0, 140, 186);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  #get {
    position: absolute;
    top: 12vh;
    left: 8.5vw;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
  }

  #gplay {
    position: absolute;
    height: 5.5vh;
    top: 16vh;
    left: 3vw;
  }

  #ms {
    position: absolute;
    height: 5.5vh;
    top: 16vh;
    left: 12vw;
  }

@media screen and (max-width: 360px) {
  .leftmob {
    height: 100vh;
    width: 50vw;
    background-color: white;
    display: none;
}

#instalogo {
  position: absolute;
  top: 1vh;
  left: 22vw;
  height: 15vh;
}

.box {
  position: absolute;
  top: 7vh;
  height: 48vh;
  width: 22vw;
  border: none;
}

#imgprof {
  position: absolute;
  top: 16vh;
  left: 37vw;
  height: 12vh;
  border-radius: 100px;
}

.button {
  position: absolute;
  top: 35vh;
  left: 16vw;
  border-radius: 10px;
  background-color: RGB(0, 140, 186); /* Blue */
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  cursor:pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#remove {
  position: absolute;
  top: 46vh;
  left: 34vw;
  font-family: sans-serif;
  font-size: 14px;
  color: RGB(0, 140, 186);
  font-weight: bold;
  width: 15px;
  white-space: nowrap;
  text-overflow: clip;
}

.secbox {
  position: absolute;
  top: 60vh;
  height: 10vh;
  width: 22vw;
  border: 1px solid gainsboro;
  border: none;
}

#switch{
  position: absolute;
  top: 0vh;
  left: 24vw;
  color: RGB(0, 140, 186);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: clip;
}

#get {
  position: absolute;
  top: 10vh;
  left: 38.5vw;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: clip;
}

#gplay {
  position: absolute;
  height: 5.5vh;
  top: 20vh;
  left: 12vw;
}

#ms {
  position: absolute;
  height: 5.5vh;
  top: 20vh;
  left: 57vw;
}

}